<div class="container">
    <h1>Get Motivated With Quotes</h1>

    <div class="row">
        <div class="col-md-8">
            <div *ngFor='let quote of quotes; let i = index' class="myQuotes">
                <div class="vote">
                    <app-vote></app-vote>
                </div>
                <div class="items">
                    <p>{{quote.quote}}</p>
                    <button class="btn btn-info" (click)='details(i)'>details</button>
                    <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <app-create-quote (addingQuote)='addNewQuote($event)'></app-create-quote>
        </div>
    </div>

</div>